#content {
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/* Form */
#input-box {
  padding: 10px;
}

form {
  padding: 10px;
  border: 1px solid black;
}

form input {
  padding: 10px;
  display: block;
  margin: 10px auto;
  text-align: center;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 16px;
  resize: none;
}

/* Bottone  */
.btn {
  background-color: transparent;
  border-radius: 5px;
  padding: 8px;
  margin: 20px 0;
  background-color: black;
  color: white;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.742);
}


/* Articolo */
.article-list {
  width: 70%;
  margin: 0 auto;
}

.article-list img {
  width: 40%;
}

.article-list h3 {
  font-size: 30px;
}

.article-list p {
  font-size: 20px;
}

.article-list span {
  font-style: italic;
  font-weight: 700;
}